@import url('https://fonts.googleapis.com/css2?family=Joan&display=swap');

* {
  font-family: 'Joan', serif;
}

:root {
  --main-bg: #111827;
  --secondary-bg: #1f2937;
  --primary: #5EB1BF;
  --secondary: #54F2F2;

}


body {
  background: var(--main-bg);
}

.content {
  position: absolute;
  top: 5.5vh;
  left: 0;
  width: 100vw;
  height: 90vh;
}